rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Función para identificar al admin
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'unknownshoppersmx@gmail.com';
    }

    // Permite leer a cualquier usuario autenticado, pero solo admin puede escribir
    match /{document=**} {
      allow read: if request.auth != null;
      allow write, delete: if isAdmin();
    }
  }
}